@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar cross-browser */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollX {
  animation: scrollX 30s linear infinite;
}